.table-responsive {
    overflow-x: auto;
}

.gridjs-table th, .gridjs-table td {
    white-space: nowrap;
    vertical-align: middle;
}

.gridjs-table th {
    font-weight: bold;
}

table thead th {
    font-size: 14px;
}

select#tipoRecurso, select#tipoRecurso option,
select#tipoExigibilidade, select#tipoExigibilidade option,
select#semestre, select#semestre option {
    font-size: 0.875rem;
}
